<main class="w-full px-2 mx-auto md:px-4 md:max-w-2xl">
  
  <%= link_to "Back to appointments", appointments_path %>

  <div class="flex flex-wrap items-center justify-between gap-3 md:gap-4 mt-4 mb-6 md:mb-8">
    
    <h1><%= render @appointment %></h1>
  
  </div>

</main>